.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    
    background-color: #5B0888;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}